<template>
  <div>
    <p
      class="name"
      style=""
      alt=""
      @click="() => { }"
    >
      {{ state }}
    </p>
    <p>ddddddagg dddddddddddddddddddddddddddddddd dddavvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv</p>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'

import { TestDelimiterMultipleLine } from './funcs'

const state = ref()

</script>
